<form [formGroup]="collectMoneyForm" class="collect-form">
  <div class="container-fluid">
    <div
      class="row center-xs center-sm center-md center-lg center-xl bottom-xs bottom-sm bottom-md bottom-lg bottom-xl form-row"
    >
      <div class="col">
        <mat-form-field appearance="outline" color="accent">
          <mat-label>Bozuk</mat-label>
          <input matInput type="number" formControlName="bozuk" />
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field appearance="outline" color="accent">
          <mat-label>5 ₺</mat-label>
          <input matInput type="number" formControlName="bes" />
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field appearance="outline" color="accent">
          <mat-label>10 ₺</mat-label>
          <input matInput type="number" formControlName="on" />
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field appearance="outline" color="accent">
          <mat-label>20 ₺</mat-label>
          <input matInput type="number" formControlName="yirmi" />
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field appearance="outline" color="accent">
          <mat-label>50 ₺</mat-label>
          <input matInput type="number" formControlName="elli" />
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field appearance="outline" color="accent">
          <mat-label>100 ₺</mat-label>
          <input matInput type="number" formControlName="yuz" />
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field appearance="outline" color="accent">
          <mat-label>200 ₺</mat-label>
          <input matInput type="number" formControlName="ikiyuz" />
        </mat-form-field>
      </div>
    </div>
    <div
      class="row center-xs center-sm center-md center-lg center-xl button-row"
    >
      <div class="col">
        <button
          class="total-button"
          mat-raised-button
          color="primary"
          (click)="topla()"
        >
          Hesapla
        </button>
      </div>
    </div>
    <div
      class="row center-xs center-sm center-md center-lg center-xl button-row"
    >
      <div class="col">
        <button class="answer" mat-stroked-button color="accent">
          Toplam Para : {{ answer }} ₺
        </button>
      </div>
    </div>
  </div>
</form>
