$login-body-pink:#a23982;
$login-body-black:#1f1013;
$login-line-background:rgba(255, 255, 255, 0.1);
$white:#ffffff;
$black:black;
$lightskyblue:lightskyblue;
$not-found-background:#303030;
$input-color:rgba(255, 255, 255, 0.87);

