<!--
<mat-tab-group color="primary" backgroundColor="primary" style="height: 100%;">
  <mat-tab label="Banka" style="height: 100%;">

    <form class="example-form"  ngNativeValidate>
      <mat-slide-toggle>Banka Formu Göster</mat-slide-toggle>
      <mat-slide-toggle>Banka Ekle</mat-slide-toggle>
      <mat-slide-toggle>Banka Güncelle</mat-slide-toggle>
      <mat-slide-toggle>Banka Sil</mat-slide-toggle>
      <mat-slide-toggle>Banka Listele</mat-slide-toggle>
    </form>


  </mat-tab>
  <mat-tab label="Kredi Kartı">

    <form class="example-form"  ngNativeValidate>
      <mat-slide-toggle>Banka Formu Göster</mat-slide-toggle>
      <mat-slide-toggle>Banka Ekle</mat-slide-toggle>
      <mat-slide-toggle>Banka Güncelle</mat-slide-toggle>
      <mat-slide-toggle>Banka Sil</mat-slide-toggle>
      <mat-slide-toggle>Banka Listele</mat-slide-toggle>
    </form>

  </mat-tab>
  <mat-tab label="Masraf">

    <form class="example-form"  ngNativeValidate>
      <mat-slide-toggle>Banka Formu Göster</mat-slide-toggle>
      <mat-slide-toggle>Banka Ekle</mat-slide-toggle>
      <mat-slide-toggle>Banka Güncelle</mat-slide-toggle>
      <mat-slide-toggle>Banka Sil</mat-slide-toggle>
      <mat-slide-toggle>Banka Listele</mat-slide-toggle>
    </form>
  </mat-tab>
  <mat-tab label="Masraf">

    <form class="example-form"  ngNativeValidate>
      <mat-slide-toggle>Banka Formu Göster</mat-slide-toggle>
      <mat-slide-toggle>Banka Ekle</mat-slide-toggle>
      <mat-slide-toggle>Banka Güncelle</mat-slide-toggle>
      <mat-slide-toggle>Banka Sil</mat-slide-toggle>
      <mat-slide-toggle>Banka Listele</mat-slide-toggle>
    </form>
  </mat-tab>
  <mat-tab label="Masraf">

    <form class="example-form"  ngNativeValidate>
      <mat-slide-toggle>Banka Formu Göster</mat-slide-toggle>
      <mat-slide-toggle>Banka Ekle</mat-slide-toggle>
      <mat-slide-toggle>Banka Güncelle</mat-slide-toggle>
      <mat-slide-toggle>Banka Sil</mat-slide-toggle>
      <mat-slide-toggle>Banka Listele</mat-slide-toggle>
    </form>
  </mat-tab>
  <mat-tab label="Masraf">

    <form class="example-form"  ngNativeValidate>
      <mat-slide-toggle>Banka Formu Göster</mat-slide-toggle>
      <mat-slide-toggle>Banka Ekle</mat-slide-toggle>
      <mat-slide-toggle>Banka Güncelle</mat-slide-toggle>
      <mat-slide-toggle>Banka Sil</mat-slide-toggle>
      <mat-slide-toggle>Banka Listele</mat-slide-toggle>
    </form>
  </mat-tab>
  <mat-tab label="Masraf">

    <form class="example-form"  ngNativeValidate>
      <mat-slide-toggle>Banka Formu Göster</mat-slide-toggle>
      <mat-slide-toggle>Banka Ekle</mat-slide-toggle>
      <mat-slide-toggle>Banka Güncelle</mat-slide-toggle>
      <mat-slide-toggle>Banka Sil</mat-slide-toggle>
      <mat-slide-toggle>Banka Listele</mat-slide-toggle>
    </form>
  </mat-tab>
  <mat-tab label="Masraf">

    <form class="example-form"  ngNativeValidate>
      <mat-slide-toggle>Banka Formu Göster</mat-slide-toggle>
      <mat-slide-toggle>Banka Ekle</mat-slide-toggle>
      <mat-slide-toggle>Banka Güncelle</mat-slide-toggle>
      <mat-slide-toggle>Banka Sil</mat-slide-toggle>
      <mat-slide-toggle>Banka Listele</mat-slide-toggle>
    </form>
  </mat-tab>
  <mat-tab label="Masraf">

    <form class="example-form"  ngNativeValidate>
      <mat-slide-toggle>Banka Formu Göster</mat-slide-toggle>
      <mat-slide-toggle>Banka Ekle</mat-slide-toggle>
      <mat-slide-toggle>Banka Güncelle</mat-slide-toggle>
      <mat-slide-toggle>Banka Sil</mat-slide-toggle>
      <mat-slide-toggle>Banka Listele</mat-slide-toggle>
    </form>
  </mat-tab>
</mat-tab-group> -->

<!--
<mat-tab-group color="primary" backgroundColor="primary" orientation="vertical">
  <mat-tab label="Masraf">

    <form class="example-form"  ngNativeValidate>
      <mat-slide-toggle>Banka Formu Göster</mat-slide-toggle>
      <mat-slide-toggle>Banka Ekle</mat-slide-toggle>
      <mat-slide-toggle>Banka Güncelle</mat-slide-toggle>
      <mat-slide-toggle>Banka Sil</mat-slide-toggle>
      <mat-slide-toggle>Banka Listele</mat-slide-toggle>
    </form>
  </mat-tab>
  <mat-tab label="Masraf">

    <form class="example-form"  ngNativeValidate>
      <mat-slide-toggle>Banka Formu Göster</mat-slide-toggle>
      <mat-slide-toggle>Banka Ekle</mat-slide-toggle>
      <mat-slide-toggle>Banka Güncelle</mat-slide-toggle>
      <mat-slide-toggle>Banka Sil</mat-slide-toggle>
      <mat-slide-toggle>Banka Listele</mat-slide-toggle>
    </form>
  </mat-tab>
</mat-tab-group>

<form  class="form-dialog">
  <h1 mat-dialog-title class="dialog-title">Kullanıcı Yetkileri</h1>
  <mat-divider></mat-divider>
  <mat-dialog-content class="dialog-content">

        <mat-slide-toggle>Banka Formu Göster</mat-slide-toggle>
        <mat-slide-toggle>Banka Ekle</mat-slide-toggle>
        <mat-slide-toggle>Banka Güncelle</mat-slide-toggle>
        <mat-slide-toggle>Banka Sil</mat-slide-toggle>
        <mat-slide-toggle>Banka Listele</mat-slide-toggle>


  </mat-dialog-content>


</form> -->

<!-- <h1 mat-dialog-title>Kullanıcı Yetkileri</h1>
<mat-divider></mat-divider>
<mat-dialog-content>
  <h2>Banka</h2>
  <mat-divider></mat-divider>
  <mat-slide-toggle>Formu Göster</mat-slide-toggle>
  <mat-slide-toggle>Ekle</mat-slide-toggle>
  <mat-slide-toggle>Güncelle</mat-slide-toggle>
  <mat-slide-toggle>Sil</mat-slide-toggle>
  <mat-slide-toggle>Listele</mat-slide-toggle>
  <mat-divider></mat-divider>
  <h2>Kredi Kartı</h2>
  <mat-divider></mat-divider>
  <mat-slide-toggle>Formu Göster</mat-slide-toggle>
  <mat-slide-toggle>Ekle</mat-slide-toggle>
  <mat-slide-toggle>Güncelle</mat-slide-toggle>
  <mat-slide-toggle>Sil</mat-slide-toggle>
  <mat-slide-toggle>Listele</mat-slide-toggle>
  <mat-divider></mat-divider>
  <h2>Kredi Kartı</h2>
  <mat-divider></mat-divider>
  <mat-slide-toggle>Formu Göster</mat-slide-toggle>
  <mat-slide-toggle>Ekle</mat-slide-toggle>
  <mat-slide-toggle>Güncelle</mat-slide-toggle>
  <mat-slide-toggle>Sil</mat-slide-toggle>
  <mat-slide-toggle>Listele</mat-slide-toggle>
  <mat-divider></mat-divider>
  <h2>Kredi Kartı</h2>
  <mat-divider></mat-divider>
  <mat-slide-toggle>Formu Göster</mat-slide-toggle>
  <mat-slide-toggle>Ekle</mat-slide-toggle>
  <mat-slide-toggle>Güncelle</mat-slide-toggle>
  <mat-slide-toggle>Sil</mat-slide-toggle>
  <mat-slide-toggle>Listele</mat-slide-toggle>
  <mat-divider></mat-divider>
  <h2>Kredi Kartı</h2>
  <mat-divider></mat-divider>
  <mat-slide-toggle>Formu Göster</mat-slide-toggle>
  <mat-slide-toggle>Ekle</mat-slide-toggle>
  <mat-slide-toggle>Güncelle</mat-slide-toggle>
  <mat-slide-toggle>Sil</mat-slide-toggle>
  <mat-slide-toggle>Listele</mat-slide-toggle>
  <mat-divider></mat-divider>
  <h2>Kredi Kartı</h2>
  <mat-divider></mat-divider>
  <mat-slide-toggle>Formu Göster</mat-slide-toggle>
  <mat-slide-toggle>Ekle</mat-slide-toggle>
  <mat-slide-toggle>Güncelle</mat-slide-toggle>
  <mat-slide-toggle>Sil</mat-slide-toggle>
  <mat-slide-toggle>Listele</mat-slide-toggle>
  <mat-divider></mat-divider>
  <h2>Kredi Kartı</h2>
  <mat-divider></mat-divider>
  <mat-slide-toggle>Formu Göster</mat-slide-toggle>
  <mat-slide-toggle>Ekle</mat-slide-toggle>
  <mat-slide-toggle>Güncelle</mat-slide-toggle>
  <mat-slide-toggle>Sil</mat-slide-toggle>
  <mat-slide-toggle>Listele</mat-slide-toggle>
  <mat-divider></mat-divider>
  <h2>Banka</h2>
  <mat-slide-toggle>Banka Formu Göster</mat-slide-toggle>
  <mat-slide-toggle>Banka Ekle</mat-slide-toggle>
  <mat-slide-toggle>Banka Güncelle</mat-slide-toggle>
  <mat-slide-toggle>Banka Sil</mat-slide-toggle>
  <mat-slide-toggle>Banka Listele</mat-slide-toggle>
  <h2>Banka</h2>
  <mat-slide-toggle>Banka Formu Göster</mat-slide-toggle>
  <mat-slide-toggle>Banka Ekle</mat-slide-toggle>
  <mat-slide-toggle>Banka Güncelle</mat-slide-toggle>
  <mat-slide-toggle>Banka Sil</mat-slide-toggle>
  <mat-slide-toggle>Banka Listele</mat-slide-toggle>
  <h2>Banka</h2>
  <mat-slide-toggle>Banka Formu Göster</mat-slide-toggle>
  <mat-slide-toggle>Banka Ekle</mat-slide-toggle>
  <mat-slide-toggle>Banka Güncelle</mat-slide-toggle>
  <mat-slide-toggle>Banka Sil</mat-slide-toggle>
  <mat-slide-toggle>Banka Listele</mat-slide-toggle>
</mat-dialog-content>
<mat-dialog-actions [align]="'end'">
  <button mat-button mat-dialog-close>Hayır</button>
  <button mat-raised-button mat-dialog-close color="warn">Evet</button>
</mat-dialog-actions> -->



<mat-tab-group orientation="vertical">
  <mat-tab label="Tab 1">Content for tab 1</mat-tab>
  <mat-tab label="Tab 2">Content for tab 2</mat-tab>
  <mat-tab label="Tab 3">Content for tab 3</mat-tab>
</mat-tab-group>


