<div class="container-fluid dashboard-container">
  <mat-divider class="top-divider"></mat-divider>

  <div class="row center-xs center-sm center-md center-lg center-xl">
    <div class="col">
      <mat-card class="dashboard-card">
        <mat-card-header class="dashboard-card-header">
          <mat-icon
            class="header-icon"
            mat-card-avatar
            fontIcon="credit_card"
          ></mat-icon>

          <mat-card-title class="dashboard-card-title"
            >Kredi Kartı</mat-card-title
          >
          <mat-card-subtitle class="dashboard-card-title">{{
            cardPaymentSum | currency : "₺ "
          }}</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </div>

    <div class="col">
      <mat-card class="dashboard-card">
        <mat-card-header class="dashboard-card-header">
          <mat-icon
            class="header-icon"
            mat-card-avatar
            fontIcon="article"
          ></mat-icon>

          <mat-card-title class="dashboard-card-title">Masraf</mat-card-title>
          <mat-card-subtitle class="dashboard-card-title">{{
            expenditureSum | currency : "₺ "
          }}</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </div>

    <div class="col">
      <mat-card class="dashboard-card">
        <mat-card-header class="dashboard-card-header">
          <mat-icon
            class="header-icon"
            mat-card-avatar
            fontIcon="assignment_ind"
          ></mat-icon>

          <mat-card-title class="dashboard-card-title"
            >E-Gelecek</mat-card-title
          >
          <mat-card-subtitle class="dashboard-card-title">{{
            futureMoneySum | currency : "₺ "
          }}</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </div>

    <div class="col">
      <mat-card class="dashboard-card">
        <mat-card-header class="dashboard-card-header">
          <mat-icon
            class="header-icon"
            mat-card-avatar
            fontIcon="money_off"
          ></mat-icon>

          <mat-card-title class="dashboard-card-title">İptal</mat-card-title>
          <mat-card-subtitle class="dashboard-card-title">{{
            cancellationSum | currency : "₺ "
          }}</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </div>

    <div class="col">
      <mat-card class="dashboard-card">
        <mat-card-header class="dashboard-card-header">
          <mat-icon
            class="header-icon"
            mat-card-avatar
            fontIcon="local_shipping"
          ></mat-icon>

          <mat-card-title class="dashboard-card-title">Sevkiyat</mat-card-title>
          <mat-card-subtitle class="dashboard-card-title">{{
            shipmentListCount
          }}</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </div>

    <div class="col">
      <mat-card class="dashboard-card">
        <mat-card-header class="dashboard-card-header">
          <mat-icon
            class="header-icon"
            mat-card-avatar
            fontIcon="groups"
          ></mat-icon>

          <mat-card-title class="dashboard-card-title">Sor</mat-card-title>
          <mat-card-subtitle class="dashboard-card-title">{{
            researchListCount
          }}</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </div>
  </div>

  <mat-divider class="bottom-divider"></mat-divider>

  <div class="row center-xs center-sm center-md center-lg center-xl">
    <div class="col-xs-12 col-sm-6 col-md-5 col-lg-5 col-xl-5 percent-col">
      <mat-card class="percent-card">
        <mat-card-header class="percent-card-header">
          <mat-icon
            class="percent-header-icon"
            mat-card-avatar
            fontIcon="percent"
          ></mat-icon>
          <mat-card-title class="percent-card-title"
            >Yüzde Hesapla</mat-card-title
          >
        </mat-card-header>

        <mat-divider class="percent-divider"></mat-divider>

        <mat-card-content>
          <p>
            <mat-form-field
              class="percent-input-width"
              appearance="outline"
              color="accent"
            >
              <mat-label>Tutar ₺</mat-label>
              <input
                matInput
                type="number"
                formControlName="Tutar"
                placeholder="Tutar Giriniz"
              />
            </mat-form-field>
          </p>

          <p>
            <mat-form-field
              class="percent-input-width"
              appearance="outline"
              color="accent"
            >
              <mat-label>Yüzde %</mat-label>
              <input
                matInput
                type="number"
                formControlName="bankName"
                placeholder="Yüzde Giriniz"
              />
            </mat-form-field>
          </p>

          <p>
            <button
              mat-raised-button
              color="primary"
              class="percent-input-width"
            >
              Hesapla
            </button>
          </p>

          <p>
            <mat-form-field class="percent-input-width" color="accent" appearance="outline">
              <mat-label class="percent-input-label">İskonto</mat-label>
              <input
                class="percent-input"
                matInput
                type="number"
                formControlName="bankName"
                disabled

              />
            </mat-form-field>
          </p>

          <p>
            <mat-form-field
              class="percent-input-width"
              appearance="outline"
              color="accent"
            >
              <mat-label class="percent-input-label">Tutar</mat-label>
              <input
                class="percent-input"
                matInput
                type="number"
                formControlName="bankName"
                disabled

              />
            </mat-form-field></p
        ></mat-card-content>
      </mat-card>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-5 col-lg-5 col-xl-5 note-col">
      <mat-card class="note-card">
        <mat-card-content>
          <table mat-table id="noteTable" [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="date">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Tarih</th>
              <td mat-cell *matCellDef="let element">
                {{ element.date | date : "dd.MM.yyyy" }}
              </td>
            </ng-container>

            <ng-container matColumnDef="description">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Notlar</th>
              <td mat-cell *matCellDef="let element">
                {{ element.description }}
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
          <mat-paginator [pageSize]="5" showFirstLastButtons> </mat-paginator>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
