.user-name{
  margin-top: 15px;
  margin-bottom: 0px;
  text-align: center;
}

.user-role-name{
  margin-bottom: 0px;
text-align: center;
}

.welcome{
  text-align: center;
  margin-bottom: 10px;
}

.dash-list-option{
  margin-bottom: 8px;
  padding: 0px 16px 0px 16px !important;
  .dash-list-option-icon{
    margin-right: 8px !important;
    color: #fff;
  }
}

.list-option{
  padding: 0px 16px 0px 16px !important;
.list-option-icon{
  margin-right: 8px !important;
}
}



